<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Testing, attention please</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
    </head>

    <body>

        <!-- Image & search bar centered block: -->
        <!-- BLOCK START -->
        <div class="front-elements">
            <img id="logo" src="{% static 'images/swagg.png' %}" alt="Hitler rocks!"/>
            <form type="get" action="." id="searchbar">
                <input  id="searchbar" type="text" name="search"  placeholder="Search..." >
            </form>
        </div>
        <!-- BLOCK END --> 

        <div class="hot-articles">
            <div id="title-box">
                    <h3>Hot articles</h3>
                    <img id="fire-icon" src="{% static 'images/fire.png' %}" alt="Fire!"/>
            </div>
            {% if hot_articles %}
                <ul>
                {% for article in hot_articles|slice:":10" %}
                    <li><a href="{% url 'detail' article.id %}">{{ article.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No articles to show.</p>
            {% endif %}
        </div>
    </body>
</html>
